%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nashik MOC
    = favicon_link_tag 'mocf01.png'
    = stylesheet_link_tag    'admin_application', media: 'all'
    = stylesheet_link_tag 'bootstrap.min.css', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin_application', 'data-turbolinks-track' => true
    = csrf_meta_tags  
  %body.hold-transition.skin-blue.sidebar-mini.fixed.sidebar-collapse
    .wrapper
      = render partial: 'layouts/admin/header'
      = render partial: 'layouts/admin/sidebar'
      .content-wrapper
        = bootstrap_flash
        = yield
      =# render partial: 'layouts/footer'
