= form_for [:admin, @category] do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  .col-md-6
    .form-group
      = f.text_field :category_name, class: "form-control", placeholder: "category name"
  .col-md-6
    .form-group
      = f.text_field :category_code, class: "form-control", placeholder: "category code"
  .col-md-6
    .form-group
      = f.select :status, options_for_select([["Active", true], ["Inactive", false]], (@category.status) || true), prompt: true, required: true
  .col-md-12
    .form-group
      %label{:for => "exampleInputFile"} Add Category Image
      %br/
      .row
        .col-md-12
          .form-group
            = f.fields_for :photos do |builder|
              %div
                = render "photo_fields", :f => builder
          .addimages
            = link_to_add_association 'Category Image', f, :photos, :class=>"btn btn-info"
  %div{align: "center"}
    .col-md-12
      .form-group
        = button_tag type: "submit", class: "btn btn-primary", data: {disable_with: "Please Wait..."} do
          = fa_icon "floppy-o"
          Save
        = link_to admin_categories_path, class: "btn btn-danger" do
          = fa_icon "close"
          Cancel
