= form_for [:admin, @product] do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message
  .col-md-6
    .form-group
      = f.text_field :product_name, class: "form-control", placeholder: "product name"
  .col-md-6
    .form-group
      = f.text_field :product_code, class: "form-control", placeholder: "product code"
  .col-md-6
    .form-group
      = f.select :category_id, Category.all.collect {|c| [ c.category_name, c.id ] }, {include_blank: "Category Name"}, class: 'form-control', required: true
  .col-md-6
    .form-group
      = f.text_field :price, class: "form-control", placeholder: "product Price"
  .col-md-12
    .form-group
      = f.text_area :product_description, class: "form-control", placeholder: "product description"
  .col-md-6
    .form-group
      = f.select :status, options_for_select([["Active", true], ["Inactive", false]], (@product.status) || true), class: 'form-control', required: true
  / .col-md-12
  /   .form-group
  /     = f.fields_for :photos do |builder|
  /       %div
  /         = render "admin/products/add_image", :f => builder
  /   .addimages
  /     = link_to_add_address_fields("Add Product Image", f, :photos, "admin/products/add_image")
  
  .col-md-12
    .form-group
      %label{:for => "exampleInputFile"} Add Product Image
      %br/
      .row
        .col-md-12
          .form-group
            = f.fields_for :photos do |builder|
              %div
                = render "photo_fields", :f => builder
          .addimages
            = link_to_add_association 'Product Image', f, :photos, :class=>"btn btn-info"
  %div{align: "center"}
    .col-md-12
      .form-group
        = button_tag type: "submit", class: "btn btn-primary", data: {disable_with: "Please Wait..."} do
          = fa_icon "floppy-o"
          Save
        = link_to admin_products_path, class: "btn btn-danger" do
          = fa_icon "close"
          Cancel
