%section.content-header
  %h1
    %strong Product Details
  %ol.breadcrumb
    %li
      = link_to root_path do
        = fa_icon 'dashboard'
        Dashboard
    %li
      = link_to admin_categories_path do
        = fa_icon 'building'
        Manage Product
    %li.active Product Details
%section.content
  .row
  .box-default
    .col-xs-12.col-sm-4.col-md-6
      .table-responsive
        %table.table.table-project
          %tbody
            %tr
              %th Product Name
              %td= @product.product_name rescue nil
            %tr
              %th Product Code
              %td= @product.product_code
            %tr
              %th Category
              %td= @product.category.category_name rescue nil
            %tr
              %th Status
              %td= (@product.status? ? "Active" : "Inactive")
            %tr
              %th Created Date
              %td= @product.created_at.strftime('%v')
            %tr
              %th Description
              %td= @product.product_description
    .clearfix
  .row
    .col-md-12
      .form-group
        %label
          %h4
            %strong Product Images
        #building.timeline-body.row.my-gallery
          - @product.photos.each do |product_image|
            %a.close-app.thumbimage{:href => "#", :rel => "lightbox[roadtrip]", :title => "#{product_image.image_file_name}"}
              = image_tag Photo.find(product_image.id).image.url(:thumb), :class => 'img-responsive'
              =# label_tag :image_name, category_image.image_name, class: "control-label"
  .row
    .col-xs-12.col-sm-4.col-md-4
      = link_to edit_admin_product_path(@product), class: "btn btn-success" do
        = fa_icon "pencil"
        Edit Product
      = link_to admin_products_path, class: "btn btn-danger" do
        = fa_icon "arrow-left"
        Go Back
