%section.content-header
  %h1
    %strong Manage Users
  %ol.breadcrumb
    %li
      = link_to root_path do
        = fa_icon 'dashboard'
        Dashboard
    %li.active Manage Users
%section.content
  .row
    .col-md-12
      .box.box-primary
        .box-header
          .col-md-10

          .col-md-2
            .form-group
              = link_to new_admin_user_path, class: "btn btn-success btn-flat" do
                = fa_icon "plus"
                  New User
        .box-body
          .table-responsive
            %table.table.table-bordered.table-condensed.table-striped.tablesorter#data-table
              %thead
                %tr
                  %th Name
                  %th Email
                  %th Number
                  %th Confirmed Orders Count
                  %th Pending Orders Count
                  %th Cancel Orders Count
                  / %th Actions
              %tbody
                - @users.each do |user|
                  %tr
                    %td
                      %strong
                        = link_to user.first_name, admin_user_path(user)
                    %td= user.email
                    %td= user.mobile_number
                    %td= user.orders.confirmed.count
                    %td= user.orders.pending.count
                    %td= user.orders.cancel.count
                    / %td
                    /   = link_to edit_admin_user_path(user), class: "btn btn-primary m-r-5",
                    /     style: "padding: 0px; width: 20px;" do
                    /     = fa_icon "pencil"
                    /   = link_to admin_user_path(user), class: "btn btn-danger", method: :delete,
                    /     data: {:confirm => "Would you like to permanently delete this user?", "commit-class" => "btn btn-success", "cancel-class" => "btn btn-danger"}, style: "padding: 0px; width: 20px;" do
                    /     = fa_icon "trash-o"
